body {background-color: powderblue;}
h1   {color: green;}
p    {color: red;}
img {
    opacity: 0.5;
  }
  
  img:hover {
    opacity: 1.0;
  }
  a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid orange;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
    color: white;
  }
  ul {
    background: orangered;
    padding: 20px;
  }
  ul li {
    background: green;
    margin: 5px;
  }
  .p1 {
    font-family: "Lucida Console", "Courier New", monospace;
  }
 
  